
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

 .elements {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: linear-gradient(to bottom, #8dd0e7 0%,#387fa5 100%);
 }

.App {
  background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
  min-height: 720px;
}

.loading {
  font-size: 40px;
  color : darkblue;
  margin-top :40px;
}
